.Toast {
    display: flex;
    flex-grow: column nowrap;
    border-radius: 20px;
    background-color: #195082;
    margin: 5px 0;
}

.Toast_error {
    background-color: #ff0033;
}

pre {
    font-size: 20px;
    text-align: center;
    
}

.success {
    background-color: white;
    color: #195082;
    flex: 1;
    border-radius: 20px 0px 0px 20px;
}

.error {
    background-color: white;
    color: #ff0033;
    flex: 1;
    border-radius: 20px 0px 0px 20px;
}

.message {
    color: whitesmoke;
    flex: 3;
    padding: 5px;
}
  